<div class="container">
    <div class="top-bar d-flex justify-content-between align-items-center">
        <button class="toggle-menu d-none d-md-block">
            <img
                src="./assets/icons/toggle-menu.svg"
                alt=""
                class="toggle-menu__img"
            />
        </button>
        <a href="/" class="logo d-flex">
            <img src="./assets/icons/logo-icon.svg" alt="" class="logo__img" />

            <h2 class="logo__name">grocerymart</h2>
        </a>
        <nav class="navbar">
            <button class="navbar__exit d-none d-md-block">
                <img
                    src="./assets/icons/arrow-left.svg"
                    alt=""
                    class="navbar__exit-img"
                />
            </button>

            <button class="top-act__cart d-none">
                <div class="d-flex align-items-md-center">
                    <img
                        src="./assets/icons/Buy.svg"
                        alt=""
                        class="top-act__cart-icon"
                    />
                    Card
                </div>
                3
            </button>
            <button class="top-act__cart d-none">
                <div class="d-flex align-items-md-center">
                    <img
                        src="./assets/icons/Iconly.svg"
                        alt=""
                        class="top-act__cart-icon"
                    />
                    Favorite
                </div>
                3
            </button>
            <ul
                class="navbar__list flex-md-column js-dropdown-list d-flex align-items-center justify-content-center"
            >
                <li class="navbar__item">
                    <div class="navbar__link">
                        Departments
                        <img
                            src="./assets/icons/Arrow - Down 2.svg"
                            alt=""
                            class="navbar__arrow"
                        />
                        <div class="dropdown">
                            <div class="dropdown__inner">
                                <!-- column 1 -->
                                <div class="dropdown__column">
                                    <!-- list 1 -->
                                    <div class="d-flex align-items-start">
                                        <ul class="dropdown__list">
                                            <div class="dropdown__list-column">
                                                <img
                                                    src="../assets/icons/dropdown-icon-1.svg"
                                                    alt=""
                                                    class="dropdown__img"
                                                />
                                                All Departments
                                            </div>
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Savings & Featured Shops
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Electronics
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Clothing, Shoes &
                                                    Accessories
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Home, Furniture & Appliances
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Toys & Video Games
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Home Improvement
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Baby
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Household Essentials
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Personal Care
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Patio & Garden
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Sports & Outdoors
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Gift Cards
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Auto, Tires and Industrial
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Movies, Music & Books
                                                </li></a
                                            >
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <div class="navbar__link">
                        Grocery
                        <img
                            src="./assets/icons/Arrow - Down 2.svg"
                            alt=""
                            class="navbar__arrow"
                        />
                        <div class="dropdown">
                            <div class="dropdown__inner">
                                <!-- column 1 -->
                                <div class="dropdown__column">
                                    <!-- list 1 -->
                                    <div class="d-flex align-items-start">
                                        <ul class="dropdown__list">
                                            <div class="dropdown__list-column">
                                                <img
                                                    src="../assets/icons/dropdown-icon-1.svg"
                                                    alt=""
                                                    class="dropdown__img"
                                                />
                                                All Departments
                                            </div>
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Savings & Featured Shops
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Electronics
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Clothing, Shoes &
                                                    Accessories
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Home, Furniture & Appliances
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Toys & Video Games
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Home Improvement
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Baby
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Household Essentials
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Personal Care
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Patio & Garden
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Sports & Outdoors
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Gift Cards
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Auto, Tires and Industrial
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Movies, Music & Books
                                                </li></a
                                            >
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="navbar__item">
                    <div class="navbar__link">
                        Beauty
                        <img
                            src="./assets/icons/Arrow - Down 2.svg"
                            alt=""
                            class="navbar__arrow"
                        />
                        <div class="dropdown">
                            <div class="dropdown__inner">
                                <!-- column 1 -->
                                <div class="dropdown__column">
                                    <!-- list 1 -->
                                    <div class="d-flex align-items-start">
                                        <ul class="dropdown__list">
                                            <div class="dropdown__list-column">
                                                <img
                                                    src="../assets/icons/dropdown-icon-1.svg"
                                                    alt=""
                                                    class="dropdown__img"
                                                />
                                                All Departments
                                            </div>
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Savings & Featured Shops
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Electronics
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Clothing, Shoes &
                                                    Accessories
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Home, Furniture & Appliances
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Toys & Video Games
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Home Improvement
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Baby
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Household Essentials
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Personal Care
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Patio & Garden
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Sports & Outdoors
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Gift Cards
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Auto, Tires and Industrial
                                                </li></a
                                            >
                                            <a href=""
                                                ><li class="dropdown__item">
                                                    Movies, Music & Books
                                                </li></a
                                            >
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="top-act d-flex">
            <button class="top-act__search d-md-none">
                <img
                    src="./assets/icons/Search.svg"
                    alt=""
                    class="top-act__search-icon"
                />
            </button>
            <div class="top-act__row d-flex d-md-none">
                <button class="top-act__cart">
                    <img
                        src="./assets/icons/Iconly.svg"
                        alt=""
                        class="top-act__cart-icon"
                    />
                    03
                </button>
                <div class="top-act__br"></div>
                <button class="top-act__cart">
                    <img
                        src="./assets/icons/Buy.svg"
                        alt=""
                        class="top-act__cart-icon"
                    />
                    $65.42
                </button>
            </div>
            <a href="#" class="top-act__avatar">
                <img
                    src="./assets/image/Avatar.png"
                    alt=""
                    class="top-act__avatar-img"
                />
            </a>
        </div>
    </div>
</div>
