html.dark {
    --background-header-color: #171c28;
    --background-color-1: #292e39;
    --text-color-primary: #fff;
    --color-icon: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(17%) hue-rotate(345deg) brightness(106%) contrast(104%);
}
