html.dark {
    --background-header-color: #171c28;
    --background-color-1: #292e39;
    --background-color-2: #292e39;
    --text-color-primary: #fff;
    --background-dropdown-color: #292e39;
    --background-dropdown-color-2: brightness(0) saturate(100%) invert(12%)
        sepia(35%) saturate(466%) hue-rotate(182deg) brightness(91%)
        contrast(84%);
    --color-icon: brightness(0) saturate(100%) invert(100%) sepia(0%)
        saturate(17%) hue-rotate(345deg) brightness(106%) contrast(104%);
    // sign up
    --bgc-sign-up: #292e39;
    --bgc-sign-up-2: #171c28;
    --sign-up-text-color-2: #9e9da8;
    --sign-up-text-color-3: #d2d1d6;
}
