html {
    --background-color-1: #fff;
    --background-dropdown-color: #fff;
    --background-header-color: #eee;
    --text-color-primary: #1a162e;
    --background-color-2: #f6f6f6;
    --Secondary-Color-Secondary-3: #d2d1d6;
}
