html {
    --background-color-1: #fff;
    --background-dropdown-color: #fff;
    --background-header-color: #eee;
    --text-color-primary: #1a162e;
    --background-color-2: #f6f6f6;
    --background-dropdown-color-2: none;
    --Secondary-Color-Secondary-3: #d2d1d6;
    --text-color-2: #9e9da8;
    --text-color-3: #6c6c72;
    --background-button-1: #ffb700;

    // sign up
    --bgc-sign-up: #fff;
    --sign-up-text-color-2: #9e9da8;
    --sign-up-text-color-3: #d2d1d6;
}
