.dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 20px;
    padding-top: 68px;
    &__inner {
        display: flex;
        gap: 60px;
        padding: 30px;
        border-radius: inherit;
        position: relative;
        background-color: var(--background-dropdown-color);
        &::before {
            content: url(../icons/dropdown-icon.svg);
            position: absolute;
            top: -12px;
            left: var(--arrow-left-pos);
        }
    }
    &__column {
        position: relative;
        & .dropdown__list:last-child {
            margin-left: -3px;
        }
        &:first-child::after {
            content: "";
            top: 0;
            right: -30px;
            position: absolute;
            width: 1px;
            height: 100%;
            background: var(--Secondary-Color-Secondary-3, #d2d1d6);
        }
    }
    &__list {
        margin-top: 5px;
        margin-left: 14px;
        color: var(--text-color-primary);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5; /* 150% */
        &-column {
            margin-bottom: 26px;
            display: flex;
            align-items: center;
            gap: 14px;
        }
    }
    &__item {
        margin-left: 50px;
        color: var(--text-color-primary);
        margin-top: 14px;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.43; /* 142.857% */
    }
}
