.logo {
    align-items: center;
    justify-content: center;
    &__img {
        width: 32px;
        height: 32px;
    }
    &__name {
        margin-left: 14px;
        width: 144px;
        height: 32px;
        color: var(--text-color-primary);
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.45; /* 145.455% */
    }
}
