.slideshow {
    &__list {
        width: 100%;
        padding-top: 34%;
        position: relative;
    }
    &__item {
        width: 100%;
        position: absolute;
        top: 0;
    }
    &__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
