$screens: (
    sm: 575.98px,
    md: 767.98px,
    lg: 991.98px,
    xl: 1199.98px,
    xxl: 1399.98px,
);

@mixin screen($key) {
    $screen: map-get($screens, $key);
    @if ($screen) {
        @media (max-width: $screen) {
            @content;
        }
    } @else {
        @error "no breakpoint";
    }
}
